@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  h1 {
    font-size: 2em; /* Adjust as needed */
    font-weight: bold; /* Adjust as needed */
  }

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
